html {
    background-color: #ffffff;
}

body {
/*    font-family: 'Nunito Sans', sans-serif;
	font-family: 'Domine', serif;
	font-family: 'Crimson Text', serif;
	font-family: 'Lato', sans-serif;
*/    
	padding: 1rem;
}

iframe {
    background-color: #ffffff;
}
