/* Fullscreen */

html {
	background-color: #ffffff;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-family: 'Domine', serif;
	font-family: 'Crimson Text', serif;
	font-family: 'Lato', sans-serif;
	padding: 1rem;
}

iframe {
	background-color: #ffffff;
}

/*---------------------*/

.body {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-gap: 0.2rem;
}

/*--------------------*/

.header {
	display: flex;
	background-color: red;
}

.title {
	font-size: 2rem;
	font-weight: bold;
	justify-content: center;
}

.threelines {
	width: 10%;
	display: flex;
	justify-content: flex-end;
}

/*--------------------*/

.main {
	background-color: green;
}

/*----------EVENTOS----------*/

.main_eventos {
	background-color: green;
}

.eventos-title {
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

.filtro {
	width: 1.5rem;
	height: 1.5rem;
}

.link-image {

}

.lista-image {
	padding: 5%;
	max-height: 8rem;
	width: 19.5rem;
}

.evento-title {
	font-size: 1rem;
	margin-left: 5%;
	margin-top: -3%;
}

.evento-descricao {
	font-size: 0.75rem;
	display: grid;
	margin-top: 1%;
	margin-left: 5%;
	margin-bottom: 5%;
}

.evento-descricao li {
	display: flex;
	flex-direction: row;
	padding: 0.15rem;
}

.informacao-icon {
	width: 1rem;
	height: 1rem;
}

.lista-image {

}

/*--------------------*/

.access {
	background-color: yellow;
	display: flex;
	justify-content: space-around;
	justify-content: center
}

.return-button {
	width: 25%;
}

.calendar-button {
	width: 25%;
}

.eventos-button {
	width: 25%;
}

.home-button {
	width: 25%;
}

/*--------------------*/